<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304491516562-68dn39jqhbac8hmqgcuceiaau5ue6h67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304491516562-68dn39jqhbac8hmqgcuceiaau5ue6h67</string>
	<key>API_KEY</key>
	<string>AIzaSyC_BbpJnVxoVmc-DrjTOPwFPj7naIPeawU</string>
	<key>GCM_SENDER_ID</key>
	<string>304491516562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.optiwiseai.optiwiseai</string>
	<key>PROJECT_ID</key>
	<string>optiwiseai-c45b9</string>
	<key>STORAGE_BUCKET</key>
	<string>optiwiseai-c45b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304491516562:ios:2727868af783b4db67cc4b</string>
</dict>
</plist>